In [ ]:
import pandas as pd

In [2]:
dataset = pd.read_csv('TMDB_movie_dataset_v11.csv')

In [3]:
dataset.iloc[0]

id                                                                  27205
title                                                           Inception
vote_average                                                        8.364
vote_count                                                          34495
status                                                           Released
release_date                                                   2010-07-15
revenue                                                         825532764
runtime                                                               148
adult                                                               False
backdrop_path                            /8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg
budget                                                          160000000
homepage                      https://www.warnerbros.com/movies/inception
imdb_id                                                         tt1375666
original_language                                                      en
original_title                                                  Inception
overview                Cobb, a skilled thief who commits corporate es...
popularity                                                         83.952
poster_path                              /oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg
tagline                              Your mind is the scene of the crime.
genres                                 Action, Science Fiction, Adventure
production_companies    Legendary Pictures, Syncopy, Warner Bros. Pict...
production_countries             United Kingdom, United States of America
spoken_languages                       English, French, Japanese, Swahili
keywords                rescue, mission, dream, airplane, paris, franc...
Name: 0, dtype: object

In [4]:
dataset = dataset[['id', 'title', 'original_language', 'overview', 'genres', 'production_companies', 'keywords']]

In [5]:
dataset.iloc[0]

id                                                                  27205
title                                                           Inception
original_language                                                      en
overview                Cobb, a skilled thief who commits corporate es...
genres                                 Action, Science Fiction, Adventure
production_companies    Legendary Pictures, Syncopy, Warner Bros. Pict...
keywords                rescue, mission, dream, airplane, paris, franc...
Name: 0, dtype: object

In [6]:
dataset.head()

,id,title,original_language,overview,genres,production_companies,keywords
0,27205,Inception,en,"Cobb, a skilled thief who commits corporate es...","Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,en,The adventures of a group of explorers who mak...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,en,Batman raises the stakes in his war on crime. ...,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,en,"In the 22nd century, a paraplegic Marine is di...","Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","future, society, culture clash, space travel, ..."
4,24428,The Avengers,en,When an unexpected enemy emerges and threatens...,"Science Fiction, Action, Adventure",Marvel Studios,"new york city, superhero, shield, based on com..."

In [7]:
dataset.isnull().sum()

id                           0
title                       13
original_language            0
overview                222138
genres                  440341
production_companies    605927
keywords                806096
dtype: int64

In [8]:
dataset = dataset.dropna(subset=['title'])

In [9]:
dataset.isnull().sum()

id                           0
title                        0
original_language            0
overview                222129
genres                  440333
production_companies    605914
keywords                806084
dtype: int64

In [10]:
dataset.duplicated().sum()

450

In [11]:
dataset = dataset.drop_duplicates()

In [12]:
dataset.duplicated().sum()

0

In [13]:
import ast

In [14]:
import numpy as np

In [15]:
dataset['overview'] = dataset['overview'].apply(lambda x:x.split() if isinstance(x, str) else x)

In [16]:
dataset['genres'] = dataset['genres'].apply(lambda x:[i.replace(" ", "") for i in x] if isinstance(x, list) else x)
dataset['overview'] = dataset['overview'].apply(lambda x:[i.replace(" ", "") for i in x] if isinstance(x, list) else x)
dataset['keywords'] = dataset['keywords'].apply(lambda x:[i.replace(" ", "") for i in x] if isinstance(x, list) else x)

In [17]:
dataset['production_companies'] = dataset['production_companies'].apply(lambda x:[i.replace(" ", "") for i in x] if isinstance(x, list) else x)
dataset['original_language'] = dataset['original_language'].apply(lambda x:[i.replace(" ", "") for i in x] if isinstance(x, list) else x)

In [18]:
def to_list(x):
    if isinstance(x, list):
        return x
    elif isinstance(x, str):
        return [x]
    else:
        return []

In [19]:
dataset['overview'] = dataset['overview'].apply(to_list)
dataset['keywords'] = dataset['keywords'].apply(to_list)
dataset['genres'] = dataset['genres'].apply(to_list)
dataset['production_companies'] = dataset['production_companies'].apply(to_list)
dataset['original_language'] = dataset['original_language'].apply(to_list)

In [20]:
dataset['final'] = dataset['overview'] + dataset['keywords'] + dataset['genres'] + dataset['production_companies'] + dataset['original_language']

In [21]:
dataset = dataset[['id', 'title', 'final']]

In [22]:
dataset['final'] = dataset['final'].apply(lambda x:" ".join(x))

In [23]:
dataset.head()

       id            title                                              final
0   27205        Inception  Cobb, a skilled thief who commits corporate es...
1  157336     Interstellar  The adventures of a group of explorers who mak...
2     155  The Dark Knight  Batman raises the stakes in his war on crime. ...
3   19995           Avatar  In the 22nd century, a paraplegic Marine is di...
4   24428     The Avengers  When an unexpected enemy emerges and threatens...

In [24]:
dataset['final'] = dataset['final'].apply(lambda x:x.lower())

In [25]:
pip install nltk

Requirement already satisfied: nltk in c:\users\p. abhinav sai\appdata\local\programs\python\python312\lib\site-packages (3.9.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: click in c:\users\p. abhinav sai\appdata\local\programs\python\python312\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\p. abhinav sai\appdata\local\programs\python\python312\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\p. abhinav sai\appdata\local\programs\python\python312\lib\site-packages (from nltk) (2024.9.11)
Requirement already satisfied: tqdm in c:\users\p. abhinav sai\appdata\local\programs\python\python312\lib\site-packages (from nltk) (4.66.5)
Requirement already satisfied: colorama in c:\users\p. abhinav sai\appdata\local\programs\python\python312\lib\site-packages (from click->nltk) (0.4.6)

In [26]:
import nltk

In [27]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [28]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [31]:
dataset['final'] = dataset['final'].apply(stem)

In [33]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5000, stop_words = 'english')

In [34]:
vectors = cv.fit_transform(dataset['final'])

In [ ]:
vectors

In [36]:
cv.get_feature_names_out()

array(['00', '000', '01', ..., 'zoo', 'československá', 'česká'],
      dtype=object)

In [37]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity = cosine_similarity(vectors)

In [ ]:
def recommend(movie):
    id = dataset[dataset['title'] == movie].index[0]
    distance = similarity[id]
    movies_list = sorted(list(enumerate(distance)), reverse = True, key = lambda x:x[1])[1:6]

    for i in movies_list:
        print(dataset.iloc[i[0]].title)

In [ ]:
recommend('Avatar')